@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #F7D6D0;
    font-family: 'Delius', cursive;
    color: #ef7466;
}

header h1 {
    text-align: center;
    color: #ec4463;
    font-weight: 600;
    font-size: 3rem;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;   
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2rem;
}


a {
    color:#821D30;
    text-decoration: none;
}

a:hover {
    color: #bd66e9;
}

section {
    margin: 20px;
    padding: 20px;
    border: 2px solid #ef978b;
    border-radius: 10px;
    background-color: #F9F1F0;
}

/* each section different colour? */

#hobbies li {
    padding-left: 5px;
    font-style: italic;
    margin-bottom: 10px;
    background-color: #F7D6D0;
    border-radius: 10px;
    list-style: circle;
}


#contact form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#contact input, #contact textarea {
    padding: 8px;
    border: 1px solid #ef7466;
    border-radius: 5px;
}

#contact button {
    width: 100px;
    padding: 10px;
    background-color: #ec4463;
    color: white;
    border: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    font-size: small;
}